<div id="<%= dom_id patient %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= patient.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= patient.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Disease:</strong>
    <%= patient.disease %>
  </div>
</div>
